/* 歸零
----------------------------*/	

*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body, p, a{
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}


/* layout
----------------------------*/	
.section-content{
  max-width: 960px;
  padding:0 90px;
  margin: 0 auto;
}
.navigation navbar navbar-default navbar-fixed-top{
    padding: 15px 20% 15px 10%
}

.background-dg{
    background-color: #454545;
}
/* 其他
----------------------------*/	

/* 左上角LOGO */
.navbar-brand-logo{
    float: left;
    height: 50px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}

.nav navbar-nav f-small normal raleway{
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif; 
}

/* 選單字體 */
.navbar-default .navbar-nav > li > a{
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}

.navigation{
    padding: 15px 10%;
}

.blog-post img {
    width: 100%;
}

/* 改頁面標題字大小 */
.page-title{
    text-align: left;
    height: 120px;
    line-height: 1.5;
    font-size: 48px;
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
    font-weight: 900;
    letter-spacing: 8px; 
}

/* 改內文字大小*/
.word-box{
    width: 420px;
    
    text-align:left;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    font-family:  'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}

/* 關於about-logo */
#header .section-content{
  position: relative;
}
.about-logo{
  width: 260px;
  position: absolute;
  right:90px;
  top:0;
}


/* 關於news色塊 */
.work-preview{
  margin:0 auto;
}
.work{
  width: 370px;
  height: 370px;
  background-color: whitesmoke;
  margin:10px 10px;
    
}

/* 關於news內文 */
.work-text{
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 4px;
    text-align: left;
}


/* 專案post標題 */
.project-post-title{
    height: 90px;
    padding: 10px;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 4px;
}

/* 專案post內文 */
.project-post-word{
    
}

/* 白色按鈕 */
.button{
    width: 180px;
    height: 40px;
    border: solid black 2px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}

/* 黑色按鈕 */
.footer-button{
    display: inline-block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
    color: white;
    background: black;
    margin: 20px;
    margin-top: 0px;
}

/* FOOTER LOGO */
.footer-logo{
    height: 100px;
    width: 
}

/* FOOTER 文字 */
.footer-word{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

/* FOOTER LIST */
.footer-list{
    display: inline-block;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 14px; 
}