/* 歸零
----------------------------*/	

*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body, p, a{
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}


/* layout
----------------------------*/	
.section-content{
    max-width: 960px;
    padding:0 0px;
    margin: 0 auto;
    z-index: 555;
}
.navigation navbar navbar-default navbar-fixed-top{
    padding: 15px 20% 15px 10%
}

.background-dg{
    background-color: #454545;
   /* background: url(/img/support-08.png) no-repeat center 80%;
    background-size:contain;*/
}
/* 其他
----------------------------*/	

/* 左上角LOGO */
.navbar-brand-logo{
    float: left;
    height: 50px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}

.nav navbar-nav f-small normal raleway{
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif; 
}

/* 選單字體 */
.navbar-default .navbar-nav > li > a{
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}

.navigation{
    padding: 15px 10%;
}

.blog-post img {
    width: 100%;
}

/* 改頁面標題字大小 */
.page-title{
    text-align: left;
    height: 150px;
    line-height: 1.5;
    font-size: 48px;
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
    font-weight: 900;
    letter-spacing: 8px; 
}

/* 改內文字大小*/
.word-box{
    width: 420px;
    
    text-align:left;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px;
    font-family:  'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}

.page-about #header{
    background: #F2F2F2;
}

/* 關於about-logo */
#header .section-content{
  position: relative;
}
.about-logo{
  width: 260px;
  position: absolute;
  right:90px;
  top:0;
}


/* 關於我們news色塊 */
.news-wrapper{
    background: url(/img/about/about-03.png) no-repeat center 0%,
        url(/img/about/about-04.png) no-repeat center 100%,#3E3A39;
    background-size:contain;
}

#news h2{
    padding-top: 150px;
    margin-top: 0;
}

.news-section{
    color: black;
    padding-top:180px;
    padding-bottom:400px;
    }

.news-section .col-md-6{
    padding-bottom:30px;
}


.news-section a{
    /*    border: solid 2px black;*/
    display: block;
    position: relative;
    height: 300px;
    padding:30px;
    text-align:left;
    background-color: white;
    box-shadow:3px 3px 12px black;
}

.news-section p{
    position: absolute;
    bottom: 30px;
    left: 30px;
    
}

/* 關於我們news標題 */
.news-section h3{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;

}


#support{
		padding-top: 150px;
		padding-bottom: 150px;
        background-color: #282828;
	}


/* 專案 */
.project-wrapper{
    background: url(/img/project/bg-05.png) no-repeat center 8%;
    background-size:contain;
}

/* 專案post標題 */
.project-post-title{
    height: 90px;
    padding: 10px;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 4px;
}

/* 專案post內文 */
.project-post-word{
    
}

/* 白色按鈕 */
.button{
    width: 180px;
    height: 40px;
    border: solid black 2px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
}

/* 黑色按鈕 */
.footer-button{
    display: inline-block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Noto Sans TC', 'PingFang', 'Microsoft JhengHei', sans-serif;
    color: white;
    background: black;
    margin: 20px;
    margin-top: 0px;
}

/* FOOTER LOGO */
.footer-logo{
    height: 100px;
    width: 
}

/* FOOTER 文字 */
.footer-word{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

/* FOOTER LIST */
.footer-list{
    display: inline-block;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 14px; 
}


@media all and (max-width: 960px) {
    
    #header .section-content{
        padding-right: 380px;   
    }
    .word-box{
        width: auto;
    }
    .section-content{
        padding: 0 90px;
    }
    .footer-word{
        text-align: center;
    }
    .footer-social{
        margin-top: 0;
    }
}

@media all and (max-width: 768px) {
    .section-content {
        padding: 0 60px;
    }
    #header .section-content {
    padding-right:60px;
    }
    .about-logo {
        position: unset;
    }
}

@media all and (max-width: 480px) {
    
}

